services:

  db:
    image: mysql:8.0
    container_name: wordpress-db
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
      MYSQL_DATABASE: "{{ wordpress_db_name }}"
      MYSQL_USER: "{{ wordpress_db_user }}"
      MYSQL_PASSWORD: "{{ wordpress_db_password }}"

    volumes:
      - db_data:/var/lib/mysql

    networks:
      - wordpress_network


  wordpress:
    image: wordpress:latest
    container_name: wordpress
    restart: unless-stopped

    depends_on:
      - db

    ports:
      - "{{ wordpress_port }}:80"

    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: "{{ wordpress_db_name }}"
      WORDPRESS_DB_USER: "{{ wordpress_db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ wordpress_db_password }}"

    volumes:
      - wordpress_data:/var/www/html

    networks:
      - wordpress_network


volumes:
  db_data:
  wordpress_data:


networks:
  wordpress_network: